<div class="page-header">
	<h1>All Customers</h1>
	<small><%= link_to 'New Customer', new_customer_path, :class => "btn small success" %></small>
</div>
<div class="row">
	<div class="span10">
		<table class="zebra-striped bordered-table">
		  <tr>
		    <th>Customer</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @customers.each do |customer| %>
		  <tr>
		    <td><%= customer.name %></td>
		    <td><%= link_to 'Show', customer %></td>
		    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
		    <td><%= link_to 'Destroy', customer, :confirm => 'Are you sure?', :method => :delete %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
