<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @link.url %>
  <br>
  <b>Domain:</b>
  <%= @link.domain.host %>
  <br>
  <b>Keyword:</b>
  <%= @link.keyword.text %>
  <br> 
  <b>State:</b>
  <%= @link.state.text %>
  <br>
  <b>Customer:</b>
  <%= @link.customer.name %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
<%= link_to 'New Link', new_link_path %>